.c-minHightPhoto {
  overflow: hidden;
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  &__img {
    max-height: 50vh;
    border: $dark solid 2px;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
    min-height: 150px;
    max-width: 100%;
    height: auto;
  }
}
