.u-fontFamily {
  &--PaytoneOne {
    font-family: 'Paytone One', sans-serif;
  }
  &--AzeretMono {
    font-family: 'Azeret Mono', monospace;
  }
  &--NotoSansTC {
    font-family: 'Noto Sans TC', sans-serif;
  }
  &--BalooDa2 {
    font-family: 'Baloo Da 2', sans-serif;
  }
  &--Lato {
    font-family: 'Lato', sans-serif;
  }
}
