.u-fontFamily--PaytoneOne {
  font-family: 'Paytone One', sans-serif;
}

.u-fontFamily--AzeretMono {
  font-family: 'Azeret Mono', monospace;
}

.u-fontFamily--NotoSansTC {
  font-family: 'Noto Sans TC', sans-serif;
}

.u-fontFamily--BalooDa2 {
  font-family: 'Baloo Da 2', sans-serif;
}
