.u-solidShadow {
  box-shadow: 0px 4px 0 $dark;
  &--leftBottom {
    box-shadow: -4px 4px 0 $dark;
  }
  &--rightBottom {
    box-shadow: 4px 4px 0 $dark;
  }

  &Opacity--15 {
    box-shadow: 0px 8px 0 rgba($dark, .15);
    &--leftBottom {
      box-shadow: -8px 8px 0 rgba($dark, .15);
    }
  }
  
  &Doub {
    box-shadow: 5px 5px 0 -2px $white, 5px 5px 0 0 $dark;
  }
}
