// components__new_password_inner
.mb-4
  label.form-label.mb-1(for='new_password') 輸入新密碼
  input#new_password.form-control.form-control-lg.px-6(type='text' placeholder='請輸入新密碼')
.mb-8
  label.form-label.mb-1(for='confirm_new_password') 再次輸入
  input#confirm_new_password.form-control.form-control-lg.px-6(type='text' placeholder='再次輸入新密碼')
button.btn.btn-primary.btn-lg.d-block.w-100.fw-bold(type="button", disabled) 重設密碼
// /components__new_password_inner
