// components__postSearchBar
.row.g-3.mb-4
  .w-lg-30
    select.form-select.form-select(aria-label='.form-select-lg example')
      option(selected='') 最新貼文
      option(value='1') 最舊貼文
  .col
    .input-group
      input.form-control(type='text' placeholder="搜尋貼文")
      button#button-addon2.btn.btn-primary.px-3.py-2(type='button')
        span.h5.lh-sm.mb-0
          i.fas.fa-search(aria-hidden='true')
// /components__postSearchBar
