extends extends/_layoutTemplate_innerPage.jade
block bodyMainPush
  .col-lg.me-lg-7
    .row.g-3.mb-4
      .w-lg-30
        select.form-select.form-select(aria-label='.form-select-lg example')
          option(selected='') 最新貼文
          option(value='1') 最舊貼文
      .col
        .input-group
          input.form-control(type='text' placeholder="搜尋貼文")
          button#button-addon2.btn.btn-primary.px-3.py-2(type='button')
            span.h5.lh-sm.mb-0
              i.fas.fa-search(aria-hidden='true')
    ul.list-unstyled.row.gy-4.mb-lg-0
      li.col.col-lg-12
        .card.bg-white.u-solidShadow
          .card-header.pb-0.border-bottom-0.bg-white
            .row.g-4
              .col-auto
                a(href="#")
                  .c-pseudoRound.c-pseudoRound--m.c-pseudoRound--user(
                    style=`background-image: url(assets/static-images/user--邊緣小杰.png)`
                  )
              .col
                p.mb-0
                  a.fw-bold(href="#") 邊緣小杰
                  small.d-block.text-pastel.u-fontFamily--BalooDa2.fw-light
                    | 2022/1/10 12:00
          .card-body.pt-4.pb-2
            p
              | 外面看起來就超冷....
              br 
              | 我決定回被窩繼續睡....#{`>.<`}
            .c-minHightPhoto
              img.c-minHightPhoto__img(src="~assets/images/post--01.png")
            .c-like
              i.c-like__icon.far.fa-thumbs-up.text-primary(aria-hidden='true')
              .c-like__content.u-fontFamily--BalooDa2 12
      li.col-12
        .card.bg-white.u-solidShadow
          .card-header.pb-0.border-bottom-0.bg-white
            .row.g-4
              .col-auto
                a(href="#")
                  .c-pseudoRound.c-pseudoRound--m.c-pseudoRound--user(
                    style=`background-image: url(assets/static-images/user--米卡莎.png)`
                  )
              .col
                p.mb-0
                  a.fw-bold(href="#") 米卡莎
                  small.d-block.text-pastel.u-fontFamily--BalooDa2 2022/1/10 12:00
          .card-body.pt-4.pb-2
            p
              | 搶到想要的 NFT 啦！ya~~
            .c-minHightPhoto
              img.c-minHightPhoto__img(src="~assets/images/post--02.png")
            .c-like
              i.c-like__icon.far.fa-thumbs-up.text-pastel(aria-hidden='true')
              .c-like__content.u-fontFamily--BalooDa2.text-pastel 成為第一個按讚的朋友
            .w-100.d-flex.mb-4
              span.c-pseudoRound.c-pseudoRound--s.c-pseudoRound--user.me-2(
                style=`background-image: url(assets/static-images/user--邊緣小杰.png)`
              )
              .input-group.input-group-sm
                input.form-control(value="好羨慕ㄛ！！")
                button.btn.btn-warning.px-12.py-2 留言
  
  include ./components/_stickyNavSub.jade
