extends extends/_layoutTemplate_innerPage.jade

block app_inner
  Loading(:active.sync="isLoading")
  
  nav-main(
    :user-data='userData',
    @push-signout='signout',
  )
  //- include ./components/_stickyNavMain.jade
  
block bodyMainPush
  article.col-lg
    //- include ./components/_postSearchBar.jade
    search-bar(@send-search-emit='sendPostsSearch')
    ul.list-unstyled.row.gy-4.mb-lg-0(v-if='posts.isLoad')
      li.col-12
        card-status(
          :inter-tag='`<span class="d-inline-block">資料讀取中 ...</span>`'
        )
    ul.list-unstyled.row.gy-4.mb-lg-0(
      v-else-if='!posts.isLoad && posts.data.length === 0'
    )
      li.col-12
        card-status(:inter-tag='`<span class="d-inline-block">目前尚無動態，</span><span class="d-inline-block">新增一則貼文吧！</span>`')
    ul.list-unstyled.row.gy-4.mb-lg-0(
      v-if='!posts.isLoad && posts.data.length > 0'
    )
      li.col-12(
        v-for='(post, index) in posts.data'
        :key='post.id'
      )
        card-post(
          :post-data='post',
          :incom-api-info='{cookieToken, apiUrl}',
          :login-user-data='userData',
        )
  nav-sub(:user-data='userData')
  //- include ./components/_stickyNavSub.jade
