extends extends/_layoutTemplate_innerPage.jade
block bodyMainPush
  .col-lg.me-lg-7
    .row.g-3.mb-4
      .w-lg-30
        select.form-select.form-select(aria-label='.form-select-lg example')
          option(selected='') 最新貼文
          option(value='1') 最舊貼文
      .col
        .input-group
          input.form-control(type='text' placeholder="搜尋貼文")
          button#button-addon2.btn.btn-primary.px-3.py-2(type='button')
            span.h5.lh-sm.mb-0
              i.fas.fa-search(aria-hidden='true')
    ul.list-unstyled.row.gy-4.mb-lg-0
      li.col.col-lg-12
        .card.bg-white.u-solidShadow
          .card-header.pb-0.border-bottom-0.bg-white
            .row.g-4
              .col-auto
                a(href="#")
                  .c-pseudoRound.c-pseudoRound--m.c-pseudoRound--user(
                    style=`background-image: url(assets/static-images/user--邊緣小杰.png)`
                  )
              .col
                p.mb-0
                  a.fw-bold(href="#") 邊緣小杰
                  small.d-block.text-pastel.u-fontFamily--BalooDa2.fw-light
                    | 2022/1/10 12:00
          .card-body.pt-4.pb-2
            p
              | 外面看起來就超冷....
              br 
              | 我決定回被窩繼續睡....#{`>.<`}
            .c-minHightPhoto
              img.c-minHightPhoto__img(src="~assets/images/post--01.png")
            .c-like
              i.c-like__icon.far.fa-thumbs-up.text-primary(aria-hidden='true')
              .c-like__content.u-fontFamily--BalooDa2 12
      li.col-12
        .card.bg-white.u-solidShadow
          .card-header.pb-0.border-bottom-0.bg-white
            .row.g-4
              .col-auto
                a(href="#")
                  .c-pseudoRound.c-pseudoRound--m.c-pseudoRound--user(
                    style=`background-image: url(assets/static-images/user--米卡莎.png)`
                  )
              .col
                p.mb-0
                  a.fw-bold(href="#") 米卡莎
                  small.d-block.text-pastel.u-fontFamily--BalooDa2 2022/1/10 12:00
          .card-body.pt-4.pb-2
            p
              | 搶到想要的 NFT 啦！ya~~
            .c-minHightPhoto
              img.c-minHightPhoto__img(src="~assets/images/post--02.png")
            .c-like
              i.c-like__icon.far.fa-thumbs-up.text-pastel(aria-hidden='true')
              .c-like__content.u-fontFamily--BalooDa2.text-pastel 成為第一個按讚的朋友

  .col-lg-auto.w-lg-35.p-stickyNavSub
    .card.p-stickyNavSub__inner
      .card-body.py-2.py-lg-8
        a.btn.btn-primary.btn-lg.d-none.d-lg-block.u-solidShadow--leftBottom.mb-6
          | 張貼動態
        ul.p-stickyNavSubMenu.list-unstyled.ps-lg-2.mb-0
          li.p-stickyNavSubMenu__item.d-lg-none.order-1
            a.w-100.p-stickyNavSubBtns(href="#")
              .c-pseudoRound.c-pseudoRound--m.p-stickyNavSubBtns__icon.p-stickyNavSubBtns__icon--primary.me-lg-4
                i.fas.fa-plus
              p.fw-bold.p-stickyNavSubBtns__title.mb-0 張貼動態
          li.p-stickyNavSubMenu__item.d-none.d-lg-block
            a.w-100.p-stickyNavSubBtns(href="#")
              .c-pseudoRound.c-pseudoRound--m.c-pseudoRound--user.me-lg-4(
                style=`background-image: url(assets/static-images/user--邊緣小杰.png)`
              )
              p.fw-bold.p-stickyNavSubBtns__title.mb-0 邊緣小杰
          li.p-stickyNavSubMenu__item.d-block.d-lg-none
            a.w-100.p-stickyNavSubBtns(href="#")
              .c-pseudoRound.c-pseudoRound--m.c-pseudoRound--user.p-stickyNavSubBtns__icon.p-stickyNavSubBtns__icon--home.fas.me-lg-4(
                style=`background-image: url(assets/static-images/user--邊緣小杰.png)`
              )
                i.fas.fa-home
              p.fw-bold.p-stickyNavSubBtns__title.mb-0 回首頁
          li.p-stickyNavSubMenu__item
            a.w-100.p-stickyNavSubBtns(href="#")
              .c-pseudoRound.c-pseudoRound--m.p-stickyNavSubBtns__icon.me-lg-4
                i.far.fa-bell
              p.fw-bold.p-stickyNavSubBtns__title.mb-0 追蹤名單
          li.p-stickyNavSubMenu__item
            a.w-100.p-stickyNavSubBtns(href="#")
              .c-pseudoRound.c-pseudoRound--m.p-stickyNavSubBtns__icon.me-lg-4
                i.far.fa-thumbs-up
              p.fw-bold.p-stickyNavSubBtns__title.mb-0 我按讚的文章
          
