extends extends/_layoutTemplate_innerPage.jade
block bodyMainPush
  .col-lg.me-lg-7
    include ./components/_postSearchBar.jade
    ul.list-unstyled.row.gy-4.mb-lg-0
      li.col.col-lg-12
        .card.bg-white.u-solidShadow-b
          .card-header.bg-white.p-4
            span.d-inline-block.p-1.rounded-circle.border.border-pasteltTrbidity.bg-danger
            span.d-inline-block.p-1.rounded-circle.border.border-pasteltTrbidity.bg-warning.ms-2
            span.d-inline-block.p-1.rounded-circle.border.border-pasteltTrbidity.bg-success.ms-2
          .card-body.py-8
            p.text-center.text-pastel.mb-0
              span.d-inline-block 目前尚無動態，
              span.d-inline-block 新增一則貼文吧！

  include ./components/_stickyNavSub.jade
