extends extends/_layoutTemplate_innerPage.jade
block bodyMainPush
  .col-12
    .card.mb-4
      .card-header
        h2.mb-0
          a#colors.text-dark(href="#typography")
            | Typography
      .card-body
        h3.border-bottom.pb-2.mb-3
          a#color.text-dark(href="#headings")
            | Headings
        .row.g-0
          .col-12
            h1 (37.35px) h1. Bootstrap heading
            h2 (30.4px) h2. Bootstrap heading
            h3 (26.9333px) h3. Bootstrap heading
            h4 (23.4667px) h4. Bootstrap heading
            h5 (20px) h5. Bootstrap heading
            h6 (14px) h6. Bootstrap heading
          .col-12
            small (12px) small Bootstrap heading

  .col-12
    .card.mb-4
      .card-header
        h2.mb-0
          a#colors.text-dark(href="#colors")
            | colors
      .card-body
        h3.border-bottom.pb-2.mb-3
          a#Background.text-dark(href="#Background")
            | Background
        .row.g-0
          .col-md-4
            .p-3.h-100.bg-primary.text-white
              | .bg-primary
              br
              | $c-blue
              br
              | #03438D
          .col-md-4
            .p-3.h-100.bg-primaryLight
              | .bg-primaryLight
              br
              | $c-blueLight
              br
              | #E2EDFA
          .col-md-4
            .p-3.h-100.bg-secondary.text-white
              | .bg-secondary
              br
              | $gray-600
              br
              | #6c757d
          .col-md-4
            .p-3.h-100.bg-success.text-white
              | .bg-success
              br
              | $c-green
              br
              | #83C51D
          .col-md-4
            .p-3.h-100.bg-danger.text-white
              | .bg-danger
              br
              | $c-danger
              br
              | #F57375
          .col-md-4
            .p-3.h-100.bg-warning.text-dark
              | .bg-warning
              br
              | $c-yellow
              br
              | #EEC32A
          .col-md-4
            .p-3.h-100.bg-pastel.text-white
              | .bg-pastel
              br
              | $c-pastel
              br
              | #9B9893
          .col-md-4
            .p-3.h-100.bg-pasteltTrbidity.text-white
              | .bg-pasteltTrbidity
              br
              | $c-pasteltTrbidity
              br
              | #707070
          .col-md-4
            .p-3.h-100.bg-info.text-dark
              | .bg-info
          .col-md-4
            .p-3.h-100.bg-light.text-dark
              | .bg-light
              br
              | $c-light
              br
              | #EFECE7
          .col-md-4
            .p-3.h-100.bg-dark.text-white
              | .bg-dark
              br
              | $c-dark
              br
              | #000400
          .col-md-4
            .p-3.h-100.bg-body.text-dark
              | .bg-body
          .col-md-4
            .p-3.h-100.bg-white.text-dark
              | .bg-white
          .col-md-4
            .p-3.h-100.bg-transparent.text-dark
              | .bg-transparent
        h3.border-bottom.pb-2.mb-3
          a#color.text-dark(href="#color")
            | color (text)
        .row.g-0
          .col
            span.d-inline-block.me-3.text-primary .text-primary
            span.d-inline-block.me-3.text-primaryLight.bg-dark .text-primaryLight
            span.d-inline-block.me-3.text-secondary .text-secondary
            span.d-inline-block.me-3.text-success .text-success
            span.d-inline-block.me-3.text-danger .text-danger
            span.d-inline-block.me-3.text-warning.bg-dark .text-warning
            span.d-inline-block.me-3.text-pastel .text-pastel
            span.d-inline-block.me-3.text-info.bg-dark .text-info
            span.d-inline-block.me-3.text-light.bg-dark .text-light
            span.d-inline-block.me-3.text-dark .text-dark
            span.d-inline-block.me-3.text-body .text-body
            span.d-inline-block.me-3.text-muted .text-muted
            span.d-inline-block.me-3.text-white.bg-dark .text-white
            span.d-inline-block.me-3.text-black-50 .text-black-50
            span.d-inline-block.me-3.text-white-50.bg-dark .text-white-50

  .col-12
    .card.mb-4
      .card-header
        h2.mb-0
          a#Forms.text-dark(href="#Forms")
            | Forms
      .card-body
        .input-group.input-group-sm.mb-3
          span#inputGroup-sizing-sm.input-group-text Small
          input.form-control(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-sm')
        .input-group.mb-3
          span#inputGroup-sizing-default.input-group-text Default
          input.form-control(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-default')
        .input-group.input-group-lg.mb-3
          span#inputGroup-sizing-lg.input-group-text Large
          input.form-control(type='text' aria-label='Sizing example input' aria-describedby='inputGroup-sizing-lg')
        .row.g-3
          .w-md-35
            select.form-select.form-select(aria-label='.form-select-lg example')
              option(selected='') 最新貼文
              option(value='1') 最舊貼文
          .col
            .input-group
              input.form-control(type='text' placeholder="搜尋貼文")
              button#button-addon2.btn.btn-primary(type='button') Button

  .col-12
    .card.mb-4
      .card-header
        h2.mb-0
          a#components.text-dark(href="#components")
            | components
      .card-body
        h3.border-bottom.pb-2.mb-3
          a#logo.text-dark(href="#logo")
            | logo
        .mb-4
          h1.c-logo.c-logo--xl.me-4.mb-0(href="#", title="MetaWall logo") MetaWall
          span.c-logo.me-2(href="#", title="MetaWall logo") MetaWall
        
        h3.border-bottom.pb-2.mb-3
          a#minHightPhoto.text-dark(href="#minHightPhoto")
            | minHightPhoto
        .mb-4
          .c-minHightPhoto
            img.c-minHightPhoto__img(src="~assets/images/post--01.png")
        
        h3.border-bottom.pb-2.mb-3
          a#pseudoRound.text-dark(href="#pseudoRound")
            | pseudoRound
        .mb-4
          span.c-pseudoRound.c-pseudoRound--xs.c-pseudoRound--user.me-2(
            style=`background-image: url(assets/static-images/user--邊緣小杰.png)`
          )
          span.c-pseudoRound.c-pseudoRound--s.c-pseudoRound--user.me-2(
            style=`background-image: url(assets/static-images/user--邊緣小杰.png)`
          )
          span.c-pseudoRound.c-pseudoRound--user.me-2(
            style=`background-image: url(assets/static-images/user--邊緣小杰.png)`
          )
          span.c-pseudoRound.c-pseudoRound--m.c-pseudoRound--user.me-2(
            style=`background-image: url(assets/static-images/user--邊緣小杰.png)`
          )
        
        h3.border-bottom.pb-2.mb-3
          a#like.text-dark(href="#like")
            | like
        .mb-4
          .c-like.mb-0
            i.c-like__icon.far.fa-thumbs-up.text-primary(aria-hidden='true')
            .c-like__content.u-fontFamily--BalooDa2 12
