extends extends/_layoutTemplate_innerPage.jade

block app_inner
  include ./components/_stickyNavMain.jade

block bodyMainPush
  .col-lg
    h1.h5.text-center.fw-bold.bg-white.border.border-2.border-dark.rounded-0.u-solidDoubShadow-lb.py-4.mb-4
      | 追蹤名單
    ul.list-unstyled.row.gy-4.mb-lg-0
      li.col-12
        .card.bg-white.u-solidShadow-b
          .card-body.p-4
            .row.gx-4
              .col-auto.d-md-flex.align-items-md-center
                .c-pseudoOneToOne.c-pseudoOneToOne--round.c-pseudoOneToOne--s.c-pseudoOneToOne--user(
                  style=`background-image: url(assets/static-images/follow__user--愛爾敏.png)`
                )
              .col
                p.fw-bold.mb-0
                  span.d-inline-block 愛爾敏
                ul.list-unstyled.d-md-flex.justify-content-between.h6.mb-0
                  li.d-inline-block.text-pastel.lh-17.mb-0
                    span.d-inline-block 追蹤時間：
                    span.d-inline-block.u-fontFamily--Lato 2022/1/10 12:00
                  li.d-inline-block.lh-20.mb-0 您已追蹤 90 天！
      li.col-12
        .card.bg-white.u-solidShadow-b
          .card-body.p-4
            .row.gx-4
              .col-auto.d-md-flex.align-items-md-center
                .c-pseudoOneToOne.c-pseudoOneToOne--round.c-pseudoOneToOne--s.c-pseudoOneToOne--user(
                  style=`background-image: url(assets/static-images/follow__user--李維.png)`
                )
              .col
                p.fw-bold.mb-0
                  span.d-inline-block 李維
                ul.list-unstyled.d-md-flex.justify-content-between.h6.mb-0
                  li.d-inline-block.text-pastel.lh-17.mb-0
                    span.d-inline-block 追蹤時間：
                    span.d-inline-block.u-fontFamily--Lato 2022/1/10 12:00
                  li.d-inline-block.lh-20.mb-0 您已追蹤 90 天！
      li.col-12
        .card.bg-white.u-solidShadow-b
          .card-body.p-4
            .row.gx-4
              .col-auto.d-md-flex.align-items-md-center
                .c-pseudoOneToOne.c-pseudoOneToOne--round.c-pseudoOneToOne--s.c-pseudoOneToOne--user(
                  style=`background-image: url(assets/static-images/follow__user--米歇爾.png)`
                )
              .col
                p.fw-bold.mb-0
                  span.d-inline-block 米歇爾
                ul.list-unstyled.d-md-flex.justify-content-between.h6.mb-0
                  li.d-inline-block.text-pastel.lh-17.mb-0
                    span.d-inline-block 追蹤時間：
                    span.d-inline-block.u-fontFamily--Lato 2022/1/10 12:00
                  li.d-inline-block.lh-20.mb-0 您已追蹤 90 天！
      li.col-12
        .card.bg-white.u-solidShadow-b
          .card-body.p-4
            .row.gx-4
              .col-auto.d-md-flex.align-items-md-center
                .c-pseudoOneToOne.c-pseudoOneToOne--round.c-pseudoOneToOne--s.c-pseudoOneToOne--user(
                  style=`background-image: url(assets/static-images/follow__user--米卡莎.png)`
                )
              .col
                p.fw-bold.mb-0
                  span.d-inline-block 米卡莎
                ul.list-unstyled.d-md-flex.justify-content-between.h6.mb-0
                  li.d-inline-block.text-pastel.lh-17.mb-0
                    span.d-inline-block 追蹤時間：
                    span.d-inline-block.u-fontFamily--Lato 2022/1/10 12:00
                  li.d-inline-block.lh-20.mb-0 您已追蹤 90 天！

  include ./components/_stickyNavSub.jade
