extends extends/_layoutTemplate_innerPage.jade

block app_inner
  Loading(:active.sync="isLoading")
  nav-main(
    :user-data='userData',
    @push-signout='signout',
  )

block bodyMainPush
  article.col-lg
    h1.h5.text-center.fw-bold.bg-white.border.border-2.border-dark.rounded-0.u-solidDoubShadow-lb.py-4.mb-4
      | 追蹤名單
    ul.list-unstyled.row.gy-4.mb-lg-0
      li.col-12(v-for='(follow, index) in followList')
        card-follow(:follow-item='follow')
      
  nav-sub(:user-data='userData')
