extends extends/_layoutTemplate_innerPage.jade
block bodyMainPush
  .col
    ul
      li 
        a(href="doc-guide.html", target='new') 元件樣式文件
      li 
        a(href="login.html", target='new') 1.登入 (vue)
        ul
          li 
            a(href="login-layout.html", target='new') 1.登入
          li 
            a(href="login-1.html", target='new') 1-1.登入 – 1
          li 
            a(href="login-error.html", target='new') 1-2.登入（錯誤訊息）
      li 
        a(href="register.html", target='new') 2.註冊 (vue)
        ul
          li 
            a(href="#") 2.註冊
          li 
            a(href="register-error.html", target='new') 2-2.註冊（錯誤訊息）
      li 
        a(href="#") 3.全體動態牆 (vue)
        ul
          li 
            a(href="allDynamicWall.html", target='new') 3.全體動態牆
          li 
            a(href="allDynamicWall-message.html", target='new') 3-2.全體動態牆-有留言
          li 
            a(href="allDynamicWall-empty.html", target='new') 3-3.全體動態牆-沒有動態
      li 
        a(href="#") 4.追蹤名單 (vue)
        ul
          li 
            a(href="followList.html", target='new') 4.追蹤名單
      li 
        a(href="editProfile.html", target='new') 5.修改個人資料 (vue)
        ul
          li 
            a(href="#") 5.修改個人資料
          li 
            a(href="editProfile-name.html", target='new') 5-1.修改個人資料-暱稱修改
          li 
            a(href="editProfile-name-error.html", target='new') 5-2.修改個人資料-暱稱修改（錯誤訊息）
          li 
            a(href="changePassword.html", target='new') 5-3.修改個人資料-重設密碼
      li 
        a(href="#") 7.張貼動態 (vue)
        ul
          li 
            a(href="postNews.html", target='new') 7.張貼動態
          li 
            a(href="postNews-error.html", target='new') 7-2.張貼動態（錯誤訊息）
      li 
        a(href="#") 8.我按讚的貼文 (vue)
        ul
          li 
            a(href="myLike.html", target='new') 8.我按讚的貼文
      li 
        a(href="#") 9.個人牆 (vue)
        ul
          li 
            a(href="personalPosts.html", target='new') 9.個人牆
          li 
            a(href="personalPosts-cancelFollow.html", target='new') 9-2.個人牆-取消追蹤
