extends extends/_layoutTemplate_innerPage.jade
block bodyMainPush
  .col-md.me-7
    .row.g-3.mb-4
      .w-md-35
        select.form-select.form-select(aria-label='.form-select-lg example')
          option(selected='') 最新貼文
          option(value='1') 最舊貼文
      .col
        .input-group
          input.form-control(type='text' placeholder="搜尋貼文")
          button#button-addon2.btn.btn-primary(type='button') Button
    .card.mb-4
      .card-body
        .row.g-4.mb-4
          .col-auto
            .c-pseudoPhoto.c-pseudoPhoto--m.c-pseudoPhoto--user(
              style=`background-image: url(assets/static-images/user.png)`
            )
          .col
            p.mb-0
              a(href="#") 邊緣小杰
            small.text-pastel 2022/1/10 12:00
        p
          | 外面看起來就超冷....
          br 
          | 我決定回被窩繼續睡....#{`>.<`}
        .border.border-dark.rounded-2
          img.img-fluid(src="~assets/images/image.png")

  .col-md-auto.w-md-35
    .bg-primaryLight
      .card.rounded-0
        .card-body.py-8
          a.btn.btn-primary.btn-lg.d-block
            | 張貼動態
                
