<!DOCTYPE html>
html(lang='zh-Hant-TW' class='no-js')
head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  title index

body
  main.container(id="app")
    h1 index
    a.logo.h3(href="index.html", title="logo") MetaWall
    div
      a.u-ff--AzeretMono.fw-bold.text-dark.text-decoration-none(href="#") Member
