extends extends/_layoutTemplate_innerPage.jade
block bodyMainPush
  .col
    ul
      li 
        a(href="doc-guide.html") 元件樣式文件
      li 
        a(href="login.html") 1.登入
      li 
        a(href="login-1.html") 1.登入 – 1
      li 
        a(href="login-error.html") 1-2.登入（錯誤訊息）
      li 
        a(href="register.html") 2.註冊
      li 
        a(href="register-error.html") 2-2.註冊（錯誤訊息）
      li 
        a(href="allDynamicWall.html") 3.全體動態牆
      li 
        a(href="allDynamicWall-message.html") 3-2.全體動態牆-有留言
      li 
        a(href="allDynamicWall-empty.html") 3-3.全體動態牆-沒有動態
      li 
        a(href="followList.html") 4.追蹤名單
      li 
        a(href="editProfile-name.html") 5.修改個人資料-暱稱修改
      li 
        a(href="myLike.html") 8.我按讚的貼文
