extends extends/_layoutTemplate_innerPage.jade

block app_inner
  nav-main(
    :user-data='userData',
    @push-signout='signout',
  )

block bodyMainPush
  article.col-lg
    h1.h5.text-center.fw-bold.bg-white.border.border-2.border-dark.rounded-0.u-solidDoubShadow-lb.py-4.mb-4
      | 我按讚的貼文
    ul.list-unstyled.row.gy-4.mb-lg-0(v-if='likeList.length > 0')
      li.col-12(v-for='(likeItem, index) in likeList', :key='likeItem.id')
        card-like(
          :like-item='likeItem',
          :user-data='userData',
          :incom-api-info='{cookieToken, apiUrl}',
          @emit-updata-like-list='renderLikeList'
        )
  nav-sub(:user-data='userData')
