extends extends/_layoutTemplate_into.jade
block bodyMainPush
  main.container-fluid
    .p-login.border.border-dark.border-2.bg-light.u-solidShadowOpacity--15.u-solidShadowOpacity--15--leftBottom.px-md-9.py-6.py-md-17.my-4
      .container
        .row.gx-md-12
          .col-md-auto.d-flex.align-items-center.justify-content-center.mb-4.mb-md-0
            img.p-loginMainImg.img-fluid(src="~images/MetaWall_img.svg")
          .col-md.text-center
            h1.logo.logo--xl.text-primary.mb-0(title="MetaWall logo") MetaWall
            form.mb-8(action="")
              h2.h4.mb-6.mb-md-9 註冊
              input.form-control.mb-4(type="text", name="", placeholder="暱稱")
              input.form-control.mb-4(type="email", name="", placeholder="Email")
              input.form-control.mb-4(type="password", name="", placeholder="Password")
            a.btn.btn-primary.d-block.disabled.btn-lg.mb-4(href="#") 註冊帳號
            a.btn.btn-link.py-0.d-block(href="#") 登入
