/* base --------------------------------------------------------------------- */
body {
  background-image: url(~images/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
/* /base --------------------------------------------------------------------- */

/* vendors ------------------------------------------------------------------ */
@import 'vendors/bs5/bootstrap';
/* /vendors ------------------------------------------------------------------ */

/* pages -------------------------------------------------------------------- */
/* /pages -------------------------------------------------------------------- */

/* components --------------------------------------------------------------- */
/* /components --------------------------------------------------------------- */
