/* base --------------------------------------------------------------------- */
@import 'base/_fontSet.scss';
body {
  background-image: url(~images/logo.png);
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.logo {
  display: inline-block;
  text-decoration: none;
  &::before {
    content: 'MetaWall';
    font-family: 'Paytone One', sans-serif;
    font-size: 26px;
    color: #000400;
    line-height: 36px;
  }
}
/* /base --------------------------------------------------------------------- */

/* vendors ------------------------------------------------------------------ */
@import 'vendors/bs5/bootstrap';
/* /vendors ------------------------------------------------------------------ */

/* pages -------------------------------------------------------------------- */
/* /pages -------------------------------------------------------------------- */

/* components --------------------------------------------------------------- */
@import 'components/c-pseudoPhoto';

/* /components --------------------------------------------------------------- */

.u-ff-- {
  &PaytoneOne {
    font-family: 'Paytone One', sans-serif;
  }
  &AzeretMono {
    font-family: 'Azeret Mono', monospace;
  }
  &NotoSansTC {
    font-family: 'Noto Sans TC', sans-serif;
  }
}
