/* base --------------------------------------------------------------------- */
@import 'base/_fontSet.scss';
body {
  background-position: center center;
  min-height: 100vh;
}
/* /base --------------------------------------------------------------------- */


/* vendors ------------------------------------------------------------------ */
@import 'vendors/bs5/bootstrap';
/* /vendors ------------------------------------------------------------------ */


/* components --------------------------------------------------------------- */
@import 'components/c-logo';
@import 'components/c-minHightPhoto';
@import 'components/c-pseudoOneToOne';
@import 'components/c-like';
@import 'components/c-btnFile';
/* /components --------------------------------------------------------------- */


/* pages -------------------------------------------------------------------- */
@import 'pages/p-stickyNav';
@import 'pages/p-login';
/* /pages -------------------------------------------------------------------- */


/* utilities ---------------------------------------------------------------- */
@import 'utilities/u-fontFamily';
@import 'utilities/u-solidShadow';
@import 'utilities/u-background';
@import 'utilities/u-spinners';
.u-form-control {
  &--textareaResizeNone {
    resize: none;
  }
}
/* /utilities ---------------------------------------------------------------- */
